{{template "header" .}}
<h1 style="text-align: center">Contact Us</h1>
<form
    style="text-align: center"
    name="contact"
    method="POST"
    netlify
    netlify-honeypot="bot-field"
    action="/thanks/"
>
    <!-- Required hidden input for Netlify to identify the form -->
    <input type="hidden" name="form-name" value="contact" />
    <!-- Honeypot (hidden from humans) -->
    <p class="sr-only">
        <label
            >Don’t fill this out if you’re human: <input name="bot-field"
        /></label>
    </p>
    <label>Name <input name="name" required /></label>
    <label>Email <input name="email" type="email" required /></label>
    <label>Message <textarea name="message" required></textarea></label>
    <button type="submit">Send</button>
</form>
<br />
<p style="text-align: center">
    You can also give us a call at <i>763-259-0061</i> or email us at
    <i>sales@woodcoprefinishing.com</i>
</p>

<div style="text-align: center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11253.873012281869!2d-93.190914!3d45.157367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32699e662b2b7%3A0xfbd67d7352949ee3!2s3140%20103rd%20Ln%20NE%2C%20Blaine%2C%20MN%2055449!5e0!3m2!1sen!2sus!4v1758311990286!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>
{{template "footer" .}}
