{{template "header" .}}
<h1>Custom Processes</h1>
<p>
    For information on Custom Processes, please vist our contact page or call us
    at 763-259-0061
</p>

<p>
    Woodco prides itself on the ability to offer custom processes for it's
    customers. Whether it's an extra sanding process or special finishing, paint
    or stain process, contact Woodco for your special requests.
</p>

<p>
    Listed below are some examples of custom processed orders we have completed
</p>

<p>
    <b>Interior Door Custom Process</b> - A major interior and exterior door
    manufacture had a special request for their interior painted six panel
    doors. The panel joints from the manufacturers were somewhat rough to the
    touch and had to be hand sanded to make sure of a smooth transition and a
    specific finishing process and packing process was followed.
</p>

<p>
    <b>Millwork Trim Custom Process</b> - The oak ranch-style trim from the mill
    have to be sanded with an extra fine sandpaper to make the application and
    final finishing of the product smoother and more appealing.
</p>

<p>
    <b>Large Box Retailer Custom Process</b> - A large box retailer had special
    packaging needed for their interior six panel doors.
</p>

<p>
    <b>Toungue and Groove Pine Custom Process</b> - Special packaging had to be
    provided for the tongue and groove pine in order to eliminate damage to the
    tongue are groove areas.
</p>

<p>
    <b>Millwork Distributor Custom Process</b> - A Millwork distributor, whose
    main customer was an apartment building builder had special request. Woodco
    provided special packaging and loading on the trucks to accommodate
    deliveries better.
</p>

<p>
    <b>Tabletop Manufacture Custom Process</b> - A tabletop manufacture had a
    special coating process that provided a much better final finished product
</p>

<p>
    <b>Window Manufacturer Custom Process</b> - A major window manufacture had a
    special request for a large run of trim to be finished.
</p>
{{template "footer" .}}
