{{define "content"}}

<h3>Custom Finishes</h3>
<ol>
    <li>UV Variety of products</li>
    <li>UV curable clear coating</li>
    <li>Pre-catalyzed water based paint</li>
    <li>Pre-catalyzed acrylic lacquer</li>
    <li>Factory Authorized Cabot Finishes</li>
    <li>In house custom stain or paint formulation</li>
</ol>

<p>
    For more information on Custom Finishes, please fill out our
    <a href="/contact-us/">contact form</a> or call us at 763-259-0061.
</p>
{{end}} {{template "base" .}}
