{{template "header" .}}
<h1>Distributors</h1>

<div>
    <p>
        Woodco works with distributors from the Midwest, Canada and the East
        Coast. Typical distributors include door distributors, millwork
        distributors, siding distributors, and more.
    </p>

    <p>
        Distributors typically supply projects for apartment buildings, senior
        housing, large scale residential single-family home projects, commercial
        properties, hotels, and more.
    </p>

    <p>
        If you are a distributor or looking for a distributor of fine pre-finish
        products, give us a call at 763-259-0061 or fill out the contact form.
    </p>
</div>

{{template "footer" .}}
