{{template "header" .}}
<h1>Doors</h1>

<div>
    <h2>Primed Colonist Doors</h2>
    <p>Process for painting Primed Colonists Doors.</p>
    <ol>
        <li>
            Pre-sand face (including panel recesses) and edges with automated
            door sander.
        </li>
        <li>Apply one coat of Acrylic Urethane base coat.</li>
        <li>
            After based coat has cured, one coat of Acrylic Urethane Topcoat is
            applied.
        </li>
        <li>
            After full cure and quality control, doors are palletized with high
            density foam to protect door and finish
        </li>
    </ol>
</div>
<div>
    <h2>Exterior Metal Doors</h2>
    <p>Process for painting Exterior metal doors.</p>
    <ol>
        <li>
            Pre-sand face (including panel recesses) and edges with automated
            door sander.
        </li>
        <li>Apply one coat of Acrylic Urethane base coat.</li>
        <li>
            After based coat has cured, one coat of Acrylic Urethane Topcoat is
            applied.
        </li>
        <li>
            After full cure and quality control, doors are palletized with high
            density foam to protect door and finish
        </li>
    </ol>
</div>
<div>
    <h2>Prefinishing flush doors and 6-panel doors</h2>
    <p>Process for painting Flush and 6-Panel Doors</p>
    <ol>
        >
        <li>
            Pre-sand face (including panel recesses) and edges with automated
            door sander.
        </li>
        <li>If door is to be stained, a spray wiped stain is applied.</li>
        <li>An acrylic Urethane Sealer is then applied.</li>
        <li>
            After curing door, it is then sanded and cleaned through our
            automated sander. If door is 6-panel, it will be sealed and sanded
            twice prior to finish coat.
        </li>
        <li>
            After thorough sanding and cleaning of the door, the door then
            receives one coat of Acrylic Urethane Topcoat.
        </li>
        <li>
            After full cure and quality control of the door, doors are
            palletized with high density foam to protect door and finish.
        </li>
    </ol>
</div>

{{template "footer" .}}
