{{template "header" .}}
<h1>Equipment</h1>
<br />
<h2>Woodco's Equipment is State of the Art</h2>

<div>
    <h3>Check out our italian made trim and door finishing equipment!</h3>
    v>
    <p>
        Woodco Prefinishing offers a state of the art facility with equipment
        and processes that ensure high quality, exceptional service, timeliness
        and value. Woodco has invested hundreds of thousands in equipment to
        guarantee quality and value.
    </p>
    <p>
        Listed below are some of the state of the art equipment and services
        that Woodco Prefinishing provides.
    </p>
</div>

<div>
    <h3>Millwork & Trim Process</h3>
    v>
    <p>
        Millwork and trim processes are handled by a state of the art
        computerized conveyor system. This multi functional system insures high
        consistent quality in an expedient manner. Each piece is guaranteed to
        meet or exceed industry standards and is personally inspected by our
        quality control specialist.
    </p>
</div>

<div>
    <h3>Computerized Sanding</h3>
    v>
    <p>
        Doors are first lightly sanded in our state of the art enclosed
        computerized sander. This piece of equipment is the foundation for
        exceptional finishing process.
    </p>
</div>

<div>
    <h3>Spraying</h3>
    v>
    <p>
        Our spray booth and customized door finishing system provide for high
        quality finishing with uniformity. All the products are then dried using
        our quick dry oven, which provides consistent, clean superb finishes you
        can be proud of.
    </p>
</div>

<div>
    <h3>Loading Dock</h3>
    v>
    <p>
        Woodco has multiple loading docks to handle your product in an efficient
        and expedient manner. Woodco has material handling equipment and ample
        storage facilities to handle the largest order you may have.
    </p>

    <div>
        <h3>Forklifts</h3>
        v>
        <p>
            Woodco’s multiple loading docks are well equipped with high
            efficient forklifts.
        </p>
    </div>

    {{template "footer" .}}
</div>
