{{template "header" .}}
<h1>Large Box Retailers</h1>

<div>
    <p>
        Woodco works with some of the largest big-box retailers in the country.
        Some of the big box retailers include Menards, Lowe’s, Home Depot and
        more.
    </p>

    <p>
        Keep your customers returning to get the highest quality prefinished
        products for flooring, paneling, siding, anything they desire!
    </p>

    <p>
        Woodco will make arrangements for shipments as often as needed, to keep
        your shelves stocked.
    </p>
</div>

{{template "footer" .}}
