{{template "header" .}}
<h1>Manufacturers</h1>

<div>
    <p>
        Woodco works with many manufactures across the country. We can save
        manufactures money, time and increase the quality of their product
        lines.
    </p>
</div>

<div>
    <p><b>Typical manufactures include:</b></p>
    <ul>
        <li>Door manufactures</li>
        <li>Millwork manufactures</li>
        <li>Trim manufacturers</li>
        <li>Siding manufacturers</li>
        <li>Flooring manufacturer’s</li>
        <li>Specialty products</li>
    </ul>
</div>

<div>
    <p>
        We can take your large-order for doors, trim, millwork, paneling,
        flooring, or siding, and get it to you quickly, give us a call at
        763-259-0061
    </p>
</div>

{{template "footer" .}}
