{{template "header" .}}
<h1>Paneling</h1>

<div>
    <p>
        Wood paneling is an increasingly sought-after form of interior wall
        surface, being at a higher eye-line than flooring or molding, it is
        important to keep it looking nice. Whether your customer is looking for
        wide or narrow paneling, we can service your wood panel prefinishing
        needs. They may choose from a number of colored finishes, or leave it
        natural, but we can deal with all of it. Call 763-259-0061 for a free
        estimate.
    </p>
    <p>
        Paneling is presanded, sealed on the backside with the front side
        receiving a durable UV cured urethane top coat with custom package
        requirements met.
    </p>
</div>

{{template "footer" .}}
