{{template "header" .}}
<h1>Samples</h1>

<div>
    <p>
        Woodco Prefinishing is more than happy to provide samples of our work or
        brochures. Simply contact us by filling out our online form or call
        763-259-0061.
    </p>

    <p>
        We can provide samples that we have in stock for various trim pieces or
        if you want to ship us your product we can pre-finishing them for you.
    </p>

    <p>
        Order our brochure to use for presentation purposes. If you need a
        custom brochure to sell to your customer please contact us.
    </p>
</div>

{{template "footer" .}}
