{{template "header" .}}
<h1>Siding</h1>

<div>
    Let your customers experience the natural feel of wood siding without as
    much worry for effects of their exposure to the elements. The type of wood
    can also greatly influence how often it needs to be maintained or even
    replaced, but the right finish will go a long way to keeping them looking
    good through all seasons and weather. Call 763-259-0061 or fill out the
    contact form for a free estimate.
</div>
<div>
    <h3>Exterior Pain/Prime Line Process</h3>
    <ul>
        <li>All material is pre-sanded</li>
        <li>Coating is sprayed applied</li>
        <li>Back brushing when required</li>
        <li>Excusive Cabot product/warranty</li>
        <li>Custom color matching on site</li>
        <li>Packaged to customer spec</li>
        <li>We are a certified Cabot coating company</li>
    </ul>
</div>

{{template "footer" .}}
