{{template "header" .}}
<h1>Why Prefinishing</h1>

<div>
    <p>
        Prefinishing or factory finishing your products have many benefits,
        especially when it comes to the big 3; it saves money, it saves time and
        produces better quality.
    </p>

    <p>
        Below are some benefits of prefinishing or factory finish at our Woodco
        Prefinishing plant;
    </p>

    <p>
        Prefinishing is vastly better than finishing your product in an
        unpredictable job site. Imagine trying to stain doors in a dust filled
        or humid conditions on a job site. Or maybe the job site is busy, behind
        schedule with lots of activity, noise, dust, etc. Imagine if the worker
        staining or painting is having a bad day or the lighting is poor. In a
        factory finishing application conditions and processes are controlled
        and consistent with predictable high quality product
    </p>

    <p>
        Prefinishing at Woodco’s state of the art facilities exposes fewer
        people, workers and homeowners to fumes, stains and paints.
    </p>

    <p>
        Having fewer chemicals used on the job will allow other tradesmen to do
        their jobs more efficiently.
    </p>

    <p>
        Because it takes place in a controlled environment, factory finishing is
        generally just better than anything that takes place alongside the
        actual completion of the home.
    </p>

    <p>
        It also tends to be less expensive, because more product can be
        completed in a more compact area, and over a shorter period of time.
    </p>
</div>

{{template "footer" .}}
